<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

<script src="minha_app_controlador.js"></script>


<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div> 

<h1>Lista</h1>

<button ng-click="mostrarLista()">Obter Dados</button>

<div ng-if="clientes!==undefined">
<table>
  <tr>
    <th>Nome</th>
    <th>País</th> 
    <th>Cidade</th>
	<th>Acção</th>
  </tr>
  <tr ng-repeat="cliente in clientes">
    <td>{{ cliente.Name }}</td>
	<td>{{ cliente.Country }}</td>
	<td>{{ cliente.City }}</td>
	<td><button ng-click="apagarItem($index)">Apagar</button></td>
  </tr>
</table>
</div>
<div ng-if="clientes===undefined">
<h1>Lista vazia</h1>
</div>

</div>


</body>
</html>