<section class="my-5">
    <h2 class="text-success text-center">OS TEUS FAVORITOS:</h2>
    <p class="text-success text-center fw-light ">Receitas: ({{receitas.length}}) </p>
    
    <div class="algumas-receitas mt-4 p-1 container" ng-if="receitas.length > 0">
        <div ng-repeat="receita in receitas" class="receitas-favoritas bg-success bg-opacity-50 border-3  border border-success">
            <div class="top-card h-75 position-relative ">
                <img ng-click="deleteFavorito(receita._id)" src="/images/trash.png" alt="" class="position-absolute z-1 trash" style="height: 50px; width: 50px; top:3%; right:3%;" >
                <img src="{{ receita.imagem }}" class="h-100 w-100 z-0 " ng-click="redirectDetails(receita._id)">
            </div>
            <div class="end-card h-25 w-100 bg-light rounded-bottom-2 d-flex flex-column  justify-content-center align-items-center border-top border-success p-2" ng-click="redirectDetails(receita._id)">
                <h2 class="text-success fw-light m-0" style="font-size: 100%">{{receita.titulo}}</h2>
                <p class="text-success fw-bolder m-0"  style="font-size: 100%">{{receita.dificuldade}}</p>
            </div>
        </div>
    </div>
    <div ng-if="receitas.length === 0" class="d-flex align-items-center justify-content-center text-success bg-light p-4 border border-success rounded-4">
        <h1>NÃO EXISTEM RECEITAS!</h1>
    </div>
</section>
