@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-painel{
    background-color: #64b7f8;
}

.bg-mobile{
    background-color: #EBEBEB;
}

.card-color{
    background-color: #d6d6d6;
}

.color-text{
    color:#64b7f8;
}
.text-xxs{
    font-size: 0.5rem;
    line-height: 0.75rem;
}

.border-color {
    border: 2px solid #64b7f8;
}

.big-checkbox {
    appearance: none;
    width: 20px !important; 
    height: 20px !important; 
    background-color: transparent;
    cursor: pointer; 
}

.active{
    background-color: #64b7f8;
    color: white;
}

.arrow-button:hover{
    background-color: #64b7f8;
}

.arrow-button:hover img{
    filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(122deg) brightness(105%) contrast(105%);
}

.inner-border-green {
    box-shadow: inset 10px 0px 0px 0px #30c650;
}

.inner-border-rose {
    box-shadow: inset 10px 0px 0px 0px #ca44c1;
}
.inner-border-blue {
    box-shadow: inset 10px 0px 0px 0px #7761e9;
}
.inner-border-red {
    box-shadow: inset 10px 0px 0px 0px #e73535;
}

.inner-border-yellow {
    box-shadow: inset 10px 0px 0px 0px #eaf438;
}

.input-form{
    appearance: none;
    background-color: transparent;
    border: none; 
    width: 100%;
}
.select-form {
    background-color: transparent;
    border: 2px solid #64b7f8; 
}
.input-form:active{
    outline: none;
    border: transparent;
}

.input-form:focus{
    outline: none;
    border: transparent;
}
